
body {

    background-image: linear-gradient(90deg, rgb(109, 189, 215), rgb(153, 48, 160));
    width: 100%;
    height: 100%;
}








.contenitore {
    text-align: center;

    height: 500px;
    width: 500px;
    position: absolute;

    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;


    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
}






.prima-riga {
    width: 100%;
    height: 33.3%;
}

.seconda-riga {
    width: 100%;
    height: 33.3%;
}

.terza-riga {
    width: 100%;
    height: 33.3%;
}


.bottone {
    float: left;
    margin-top: auto;
    width: 33.3%;
    height: 100%;
    background-color: transparent;
    border-radius: 20px;
}

img {
    width: 100%;
    height: 100%;
}


.schermo {
    text-align: center;
    position: absolute;
    z-index: 3;
    height: 300px;
    width: 700px;

    top: 50%;
    margin-top: -150px;

    left: 50%;
    margin-left: -350px;

    backdrop-filter: blur(60px);                      
    -webkit-backdrop-filter: blur(60px);

    border-radius: 20px;    
}

.bottoniSchermo01 {

    float: left;
    height: 50px;
    width: 150px;
}

.bottoniSchermo02 {
    margin-left: 80px;
    float: left;
    height: 50px;
    width: 150px;
}





.contenitoreSchermo {
    text-align: center;
    align-items: center;
    width: 380px;
    position: absolute;
    left: 50%;
    margin-left: -180px;
    top: 80%; 
}



.testoSchermo {
    top: 15%;
    color: #222;
}

